NRF24L01_Lib.X/build
NRF24L01_Lib.X/debug
NRF24L01_Lib.X/dist
NRF24L01_Lib.X/mcc_generated_files
NRF24L01_Lib.X/nbproject/.mk
NRF24L01_Lib.X/nbproject/.bash
NRF24L01_Lib.X/nbproject/.properties
NRF24L01_Lib.X/nbproject/private
*.i

*.p1

*.sym

*.sdb

*.o

*.properties
*.mk

*.bash

*.d
